.container {
    margin: 0 auto;
    padding: 0 15px;

    // mobile
    @media screen and (min-width: 480px) {
      width: 448px;
    }

    // tablet 
    @media screen and (min-width: 678px) {
      width: 720px;
    }

    // desktop
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }

