.hero-container {
  position: relative;

  display: flex;
}

.hero-right-side {
  padding: 272px 0 208px 100px;
  flex-grow: 1;

  background-color: #191c26;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../images/hero/slider-img.png");
  background-size: cover;
  background-position: center;
}

.hero-uppertitle {
  animation: slide-to-bottom 500ms ease-out 200ms both;
}



.main-title {
  animation: slide-to-right 1000ms ease-out 700ms both;
}



.hero-left-side {
  width: 100px;

  display: flex;
  align-items: flex-end;
}

.hero-undertitle {
  width: 360px;

  animation: slide-to-top 400ms ease-out 1700ms both;
}




