.menu {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
}

.menu-item {
  position: relative;

  margin-right: 15px;
  outline: 2px solid orange;
}

.menu-item:hover .submenu {
  display: block;
}

.menu-item:hover .menu-link {
  background-color: palevioletred;
}

.menu-link {
  display: block;
  padding: 10px 20px;

  text-decoration: none;
  background-color: teal;
  color: #fff;
}

.submenu {
  position: absolute;
  left: 0;
  top: 100%;

  width: 100%;

  padding: 0;
  margin: 0;
  list-style: none;

  background-color: #ccc;

  display: none;
}

.submenu a {
  text-decoration: none;
}

.submenu li {
  padding: 10px;
}
